.App {
  margin-left: 2rem;
}

.App-header {
  margin-top: 1.5rem;
  font-weight: 600;
}

.exercise-wrapper {
  margin-left: 0 auto;
  display: block;
}

.exercise {
  display: flex;
  justify-content: left;
}

.exercise-title {
  margin-right: 10px;
}

.code-box {
  padding:1rem;
  margin: auto;
  display: inline-block;
  color: white;
  background-color: black;
}

.ex-header {
  font-weight: 600;
}

.line {
  margin-right: 75vh;
  border-top: dashed 1px;
}