.App {
  margin-left: 3rem;
}

.App-header {
  margin-top: 2rem;
  font-weight: 600;
}

.exercise-wrapper {
  margin-left: 0 auto;
  display: block;
}

.exercise {
  display: flex;
  justify-content: left;
}

.exercise-title {
  margin-right: 10px;
}